  
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title { 
 color: white; 
 font: bolder 50px Cinzel; 
}

#navbartext {
  font: 15px Poppins; 
}

#titletext {
  color: white; 
  font: bold 20px Poppins; 
  text-align: center;
}

#video {
  margin-left: 370px;
  font-family: Chilanka;
  color: white;
  background-color: #F76C6C;
}

#submitcontact {
  font-family: Chilanka;
  color: white;
  background-color: #F76C6C;
}

#loginsubmit {
  color: white;
  background-color: #F76C6C;
}

#getstarted {
  margin-left: 10px;
  font-family: Chilanka;
  color: white;
  background-color: #F76C6C;
}

p {
  color: white;
  font: Poppins;
  font-size: 18px;
}

section.success {
  color: #fff;
  background: #18bc9c;
}

section.notsuccess {
  color: #fff;
  background: #A8D0E6;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    color: white;
}

header .container {
  padding-top: 250px;
  padding-bottom: 330px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

section {
  padding: 200px;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #18bc9c;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
} 

#footer {
  padding-top: 30px;
}

#login {
  padding-top:100px;
}

#badge_text {
  font-family: Chilanka;
  color: white;
}

#background_image{
  background-image: url(./MembersCollage.png);
  background-size: 1540px 925px;
}

#curriculum {
  margin-top:125px;
  margin-left:100px;
}